tmp
obj*
.directory
*.log
*.pgm
*.ppm
*.swp
*.org~
.~lock.*
*_code.txt
/*.txt
generated
# Definitions for userland
CMakeCache.txt
*.pc
CMakeFiles
*.cmake
extern/userland/**/Makefile
extern/userland/build
extern/userland/vmcs_config.h
